@{
    ViewData["Title"] = "Game Over";
}

<h1 class="text-danger">Game Over</h1>
<h2 class="text-danger">@Model</h2>

<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
    <button class="btn btn-primary" asp-controller="Home" asp-action="Index">Start New Game</button>
</a>

